/Lab1/Lab1/target/
/Lab2/Lab2/target/
/Lab3/Lab3_ass1/target/
/Lab3/Lab3_ass2/target/
/Lab4/Lab4_ass1/target/
/Lab4/Lab4_ass2/target/
/Lab4/Lab4_ass3/target/
/Lab5/Lab5_ass1/target/
/Lab5/Lab5_ass2/target/
/Lab6/Lab6_ass1/target/
/Lab6/Lab6_ass2/target/
/Lab6/Lab6_ass3/target/
/Lab7/target/
/Lab7_ver2/target/
/Lab8/Observer_Pattern/target/
